<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Sinatra Boilerplate</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	
	<body>
		<div class="container">
			<div class="row">
				<h1>Sinatra Quickstart <small>Bootstrap your Sinatra Web Development</small></h1>
				
				<%= yield %>
			</div>
		</div>
	</body>
</html>
